.nav {
	position: fixed;
	width: 100%;
	top: 20px;
	z-index: 10;
}

.nav.active {
	top: 0;
	background-color: var(--color-almost-white);
}

.nav__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 700px;
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
	border-radius: 20px;
	background-color: var(--color-almost-white);
}

.nav.active .nav__wrapper {
	background-color: none;
}


.nav__list {
	display: flex;
	gap: 40px;
}

.nav__item {
	font-weight: 500;
	font-size: 20px;
	position: relative;
}

.nav__item::before {
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	background-color: #000;
}

.nav__link {}

@media (hover: hover) {
	.nav__item:hover::before {
		content: '';
		animation: slow-filling 0.1s 0s linear both;
	}
}

